{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "endOfLine": "auto",
  "printWidth": 100,
  "parser": "typescript",
  "arrowParens": "always",
  "stylelintIntegration": false,
  "tslintIntegration": false,
  "overrides": [
    {
        "files": "*.json",
        "options": {
            "printWidth": 200
        }
    }
  ]
}